<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="c-card">
                  <span class="c-icon c-icon--info u-mb-small">
                    <i class="feather icon-activity"></i>
                  </span>

      <h3 class="c-text--subtitle">Total Schedule</h3>
      <h1>12</h1>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="c-card">
                  <span class="c-icon c-icon--danger u-mb-small">
                    <i class="feather icon-shopping-cart"></i>
                  </span>

      <h3 class="c-text--subtitle">Total Application</h3>
      <h1>623</h1>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="c-card">
                  <span class="c-icon c-icon--success u-mb-small">
                    <i class="feather icon-users"></i>
                  </span>

      <h3 class="c-text--subtitle">Total Students</h3>
      <h1>250</h1>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="c-card">
                  <span class="c-icon c-icon--warning u-mb-small">
                    <i class="feather icon-zap"></i>
                  </span>

      <h3 class="c-text--subtitle">Head Admin</h3>
      <h1>94</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="c-card u-ph-zero u-pb-zero">

      <div class="u-ph-medium">
        <h4>Today's Schedules</h4>
        <p>Activity from <%= Time.now.strftime("%d/%h/%y") %> 12:00 AM To <%= Time.now.strftime("%H:%M %P")  %></p>

        <span class="u-h1">5</span>
      </div>

      <div class="u-p-medium">
        <div class="c-chart">
          <div class="sales-chart"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <div class="c-card u-ph-zero u-pb-zero">

      <div class="u-ph-medium">
        <h4>Today's Applications</h4>
        <p>Activity from <%= Time.now.strftime("%d/%h/%y") %> 12:00 AM To <%= Time.now.strftime("%H:%M %P")  %></p>

        <span class="u-h1">3</span>
      </div>

      <div class="u-p-medium">
        <div class="c-chart">
          <div class="payouts-chart"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Mentors</th>
          <th class="c-table__cell c-table__cell--head">Country</th>
          <th class="c-table__cell c-table__cell--head">Phone</th>
          <th class="c-table__cell c-table__cell--head">University</th>
          <th class="c-table__cell c-table__cell--head">Status</th>
          <th class="c-table__cell c-table__cell--head">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @mentors.each do |user| %>
          <tr class="c-table__row">
            <td class="c-table__cell">
              <div class="o-media">
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--small">
                    <%= image_tag user_image(user), class: "c-avatar__img", alt: "Jessica Alba" %>
                  </div>
                </div>
                <div class="o-media__body">
                  <h6><%= user.full_name %></h6>
                  <p><%= user.role %></p>
                </div>
              </div>
            </td>
            <td class="c-table__cell"><%= user.country_name %></td>
            <th class="c-table__cell"><%= user.phone %></th>
            <td class="c-table__cell"><%= user.university %></td>
            <td class="c-table__cell">
              <a class="c-badge c-badge--small c-badge--info" href="#">File Opening</a>
<!--              <a class="c-badge c-badge--small c-badge--info" href="#">Processing</a>-->
<!--              <a class="c-badge c-badge--small c-badge--fancy" href="#">Payment Paid</a>-->
            </td>
            <td class="c-table__cell">
              <div class="c-dropdown dropdown">
                <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More <i class="feather icon-chevron-down"></i>
                </a>

                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                  <a class="c-dropdown__item dropdown-item" href="#">View</a>
                  <a class="c-dropdown__item dropdown-item" href="#">Send Message</a>
                  <a class="c-dropdown__item dropdown-item" href="#">Lock</a>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Student</th>
          <th class="c-table__cell c-table__cell--head">Country</th>
          <th class="c-table__cell c-table__cell--head">Phone</th>
          <th class="c-table__cell c-table__cell--head">University</th>
          <th class="c-table__cell c-table__cell--head">Status</th>
          <th class="c-table__cell c-table__cell--head">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @students.each do |user| %>
          <tr class="c-table__row">
            <td class="c-table__cell">
              <div class="o-media">
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--small">
                    <%= image_tag user_image(user), class: "c-avatar__img", alt: "Jessica Alba" %>
                  </div>
                </div>
                <div class="o-media__body">
                  <h6><%= user.full_name %></h6>
                  <p><%= user.role %></p>
                </div>
              </div>
            </td>
            <td class="c-table__cell"><%= user.country_name.truncate(25) %></td>
            <th class="c-table__cell"><%= user.phone %></th>
            <td class="c-table__cell"><%= user.university %></td>
            <td class="c-table__cell">
              <a class="c-badge c-badge--small c-badge--info" href="#">File Opening</a>
<!--              <a class="c-badge c-badge--small c-badge--info" href="#">Processing</a>-->
<!--              <a class="c-badge c-badge--small c-badge--fancy" href="#">Payment Paid</a>-->
            </td>
            <td class="c-table__cell">
              <div class="c-dropdown dropdown">
                <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More <i class="feather icon-chevron-down"></i>
                </a>

                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                  <a class="c-dropdown__item dropdown-item" href="#">View</a>
                  <a class="c-dropdown__item dropdown-item" href="#">Send Message</a>
                  <a class="c-dropdown__item dropdown-item" href="#">Lock</a>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>