<!--=======Page Heading================================-->
<section class="page-heading-section before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header4.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Single Post</h2>
          <a href="#" class="btn btn-default btn-primary">back to home</a>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<div class="single-blog-page page-wrapper bg-gray s-pd100">
  <!-- Start blog list-area -->
  <div class="blog-page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="sa-blog">
            <div class="sa-blog__thumb">
              <%= image_tag image_url(@blog.image), class: 'img-fluid', alt: 'blog image' %>
            </div>
            <div class="sa-blog__details">
              <h2 class="sa-blog__title"><%= @blog.title %></h2>
              <div class="sa-blog__more">
                <span><span class="blog__date"><%= @blog.created_at.strftime("%B %d %Y  %I:%M %P") %> <a href="#"> By <%= @blog.admin_user.full_name %></a></span></span>
                <span>Category <a href="#">Blog</a></span>
              </div>
              <div class="sa-blog__content">
                <p> <%= raw @blog.content %></p>
              </div>
            </div>
<!--            <div class="sa-blog__share-wrap">-->
<!--              <div class="sa-blog__share">-->
<!--                <ul class="list-unstyled">-->
<!--                  <li><a href="http://www.<%#=@blog.fb_link  %>" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--                  <li><a href="http://www.<%#= @blog.tw_link %>" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--                  <li><a href="http://www.<%#= @blog.g_plus_link %>" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
<!--                  <li><a href="http://www.<%#= @blog.ln_link %>" target="_blank"><i class="fa fa-dribbble"></i></a></li>-->
<!--                  <li><a href="http://www.<%#=  @blog.ln_link %>" target="_blank"><i class="fa fa-pinterest"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
            <div class="sa-blog__pagination">
              <a href="#"><i class="fa fa-long-arrow-left"></i> Prev</a>
              <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="sa-blog__comments">
              <span class="comments__count"><%= @comments.count %> comments</span>
              <% @comments .each do |comment| %>
                <div class="comment">
                  <div class="comment__thumb">
                    <%if comment.user.present? && comment.user.image.present? %>
                      <%= image_tag image_url(comment.user.image), alt: 'comment'  %>
                    <%else %>
                      <%=  image_tag 'comments/1.jpg', alt: 'comment' %>
                    <% end %>
                  </div>
                  <div class="comment__details">
                    <h5 class="comment__author-name"><a href="#"><%= comment.user.present? ? comment.user.first_name : comment.user_name %></a></h5>
                    <span class="comment__time"><%= time_ago_in_words(comment.created_at) %></span>
                    <p> <%= comment.body %></p>
                    <!---->
                    <!--                  <a class="reply-option" href="#">Reply</a>-->
                  </div>
                </div>
              <%end %>
            </div>
            <div class="sa-blog__leave-comment">
              <h4 class="leave-comment__title">Leave a comment</h4>
              <%= form_tag comments_path do %>
                <!--              <form action="#">-->
                <div class="row">

                  <% unless current_user.present?  %>
                    <div class="col-md-6">
                      <div class="single-box">
                        <%#= text_field_tag  :body %>
                        <input class="form-control" name ="comment[user_name]" type="text" placeholder="Enter your name...">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="single-box">
                        <input class="form-control" name ="comment[user_email]" type="email" placeholder="Enter your email...">
                      </div>
                    </div>
                  <%end %>
                  <div class="col-md-12">
                    <div class="single-box">
                      <textarea name ="comment[body]" class="form-control" cols="30" rows="10" placeholder="Your messege"></textarea>
                    </div>
                  </div>
                  <%= hidden_field_tag 'blog_id', @blog.id %>
                  <div class="col-md-12">
                    <div class="single-box">
                      <button type="submit">Submit</button>
                    </div>
                  </div>
                </div>
                <!--              </form>-->
              <% end %>
            </div>
          </div>
        </div><!--/.col-lg-8-->
        <div class="col-lg-4 col-md-12">
          <div class="blog-sidebar">
            <aside class="widget widget-recent-post">
              <h2>Recent post</h2>
              <% @resent_posts.each do |post| %>
                <div class="sidebar__single-post">
                  <div class="single-post__thumb">
                    <a href="<%=blog_path(post.id)%>">
                      <%= image_tag image_url(post.image),size: 60, alt: 'blog thumb' %>
                    </a>
                  </div>
                  <div class="single-post__details">
                    <h5><a href="<%= post.id %>"><%= post.title %></a></h5>
                    <div class="single-post__more">
                      <span class="date"><span class="blog__date"><%= post.created_at.strftime("%B %d %Y   %I:%M %P") %> By <a href="#"><%= post.admin_user.full_name.present? ? post.admin_user.full_name : "Na" %></a></span></span>
                    </div>
                  </div>
                </div>
              <%end %>
            </aside><!--/.widget-recent-post-->
          </div><!--/.blog-sidebar-->
        </div><!--/.col-lg-4-->
      </div>
    </div>
  </div>
</div>
