<div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="c-feed">
    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Address</h6>
        <p><%= @user.address.present? ? @user.address : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--success">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">City</h6>
        <p><%= @user.city_name.present? ? @user.city_name : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Country</h6>
        <p><%= @user.country_name.present? ? @user.country_name : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--fancy">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Department</h6>
        <p><%= @user.department_name.present? ? @user.department_name : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--danger">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Date of birth</h6>
        <p><%= @user.dob.present? ? @user.dob : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--warning">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Nationality</h6>
        <p><%= @user.nationality.present? ? @user.nationality : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Nid</h6>
        <p><%= @user.nid.present? ? @user.nid : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--danger">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Occupation</h6>
        <p><%= @user.occupation.present? ? @user.occupation : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--warning">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Passport</h6>
        <p><%= @user.passport.present? ? @user.passport : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Date of birth</h6>
        <p><%= @user.dob.present? ? @user.dob : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Phone</h6>
        <p><%= @user.phone.present? ? @user.phone : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Privacy Policy</h6>
        <p><%= @user.privacy_policy.present? ? @user.privacy_policy : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--danger">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Role</h6>
        <p><%= @user.role.present? ? @user.role : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--warning">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Refer code</h6>
        <p><%= @user.slug.present? ? @user.slug : 'Na' %></p>
      </div>
    </div>
  </div>
</div>

<div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="c-feed">
    <div class="c-feed__item">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Consultancy</h6>
        <p><%= @user.consultancy.present? ? @user.consultancy : 'Na' %></p>
      </div>
    </div>

    <div class="c-feed__item c-feed__item--success">
      <div class="c-feed__item-content">
        <h6 class="u-text-small">Other Consultancy</h6>
        <p><%= @user.other_consultancy.present? ? @user.other_consultancy : 'Na' %></p>
      </div>
    </div>
  </div>
</div>