<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Profile</th>
          <th class="c-table__cell c-table__cell--head">phone</th>
          <th class="c-table__cell c-table__cell--head">email</th>
          <th class="c-table__cell c-table__cell--head">nationality</th>
          <th class="c-table__cell c-table__cell--head">Actions</th>
        </tr>
        </thead>

        <tbody>

        <% @users.each do |user| %>
          <tr class="c-table__row">
            <td class="c-table__cell">
              <div class="o-media">
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--small">
                    <img class="c-avatar__img" src="<%=user.image.present? ? user.image.url : asset_path('avatar1-72.jpg') %>" alt="Jessica Alba">
                  </div>
                </div>
                <div class="o-media__body">
                  <h6> <%= user.full_name %></h6>
                  <p>  <%= user.occupation %> </p>
                </div>
              </div>
            </td>
            <td class="c-table__cell">  <%= user.phone %> </td>
            <td class="c-table__cell">   <%= user.email %></td>
            <td class="c-table__cell">   <%= user.nationality %></td>

            <td class="c-table__cell">
              <%= link_to 'Select', user_path(user), class: "c-badge c-badge--small c-badge--info" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>