<nav class="c-tabs">
  <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
    <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal Information</a>
    <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Agreements</a>
    <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Schedule</a>
  </div>
  <div class="c-tabs__content tab-content" id="nav-tabContent">
    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="c-feed">
        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Address</h6>
            <p><%= @user.address.present? ? @user.address : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--success">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">City</h6>
            <p><%= @user.city_name.present? ? @user.city_name : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Country</h6>
            <p><%= @user.country_name.present? ? @user.country_name : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--fancy">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Department</h6>
            <p><%= @user.department_name.present? ? @user.department_name : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--danger">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Date of birth</h6>
            <p><%= @user.dob.present? ? @user.dob : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--warning">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Nationality</h6>
            <p><%= @user.nationality.present? ? @user.nationality : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Nid</h6>
            <p><%= @user.nid.present? ? @user.nid : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--danger">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Occupation</h6>
            <p><%= @user.occupation.present? ? @user.occupation : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--warning">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Passport</h6>
            <p><%= @user.passport.present? ? @user.passport : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Date of birth</h6>
            <p><%= @user.dob.present? ? @user.dob : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Phone</h6>
            <p><%= @user.phone.present? ? @user.phone : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Privacy Policy</h6>
            <p><%= @user.privacy_policy.present? ? @user.privacy_policy : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--danger">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Role</h6>
            <p><%= @user.role.present? ? @user.role : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--warning">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Refer code</h6>
            <p><%= @user.slug.present? ? @user.slug : 'Na' %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="c-feed">
        <div class="c-feed__item">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Consultancy</h6>
            <p><%= @user.consultancy.present? ? @user.consultancy : 'Na' %></p>
          </div>
        </div>

        <div class="c-feed__item c-feed__item--success">
          <div class="c-feed__item-content">
            <h6 class="u-text-small">Other Consultancy</h6>
            <p><%= @user.other_consultancy.present? ? @user.other_consultancy : 'Na' %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
        <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Schedules</a>
      </div>
      <div class="c-tabs__content tab-content" id="nav-tabContent">
        <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="c-feed">
            <% @user.mentor_schedules.each do |schedule| %>
              <% unless schedule.is_paid %>
                <div class="c-feed__item">
                  <div class="c-feed__item-content">
                    <h6 class="u-text-small">Free Schedule</h6>
                    <p><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %> - <%= schedule.start_time.strftime("%d/%m/%y") %></p>
                  </div>
                  <% if schedule.student.present? %>
                    <p class="u-text-xsmall">Schedule is booked by <%= schedule.student.full_name %></p>
                  <% else %>
                    <%= link_to 'Book now', booking_schedule_path(schedule_id: schedule.id), id: "schedule_id_#{schedule.id}", class: "u-text-xsmall", remote: true%>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% @user.mentor_schedules.each do |schedule| %>
              <% if schedule.is_paid %>
                <div class="c-feed__item c-feed__item--success">
                  <div class="c-feed__item-content">
                    <h6 class="u-text-small">Paid Schedule</h6>
                    <p><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %> - <%= schedule.start_time.strftime("%d/%m/%y") %></p>
                    <p>Schedul cost:<%= schedule.schedule_cost %> $ </p>
                  </div>
                  <% if schedule.student.present? %>
                    <p class="u-text-xsmall">Schedule is booked by <%= schedule.student.full_name %></p>
                  <% else %>
                    <%= link_to 'Book now', "#", id: "schedule_id_#{schedule.id}", class: "u-text-xsmall", remote: true%>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div><!-- // .c-feed -->
        </div>
      </div>
    </div>
  </div>
</nav>

<%= content_for :custom_js do %>
  <script type="text/javascript" charset="utf-8">
      $("#modal-submit").click(function () {
          $("#schedule-booking-form").submit();
      })
  </script>
<% end %>
