<% if can? :create, User %>
  <div class="row u-mt-xlarge#">
    <div class="col-12">
      <h3 class="u-mb-small">
        <%= link_to 'New User', new_user_path, class: 'c-badge c-badge--small# c-badge--info' %>
      </h3>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Profile</th>
          <th class="c-table__cell c-table__cell--head">
            <% if current_user.student? %>
              University
            <% else %>
              Phone
            <% end %>
          </th>
          <th class="c-table__cell c-table__cell--head">
            <% if current_user.student? %>
              City
            <% else %>
              email
            <% end %>
          </th>
          <th class="c-table__cell c-table__cell--head">Nationality</th>
          <th class="c-table__cell c-table__cell--head">Actions</th>
        </tr>
        </thead>

        <tbody>

        <% @users.each do |user| %>
          <tr class="c-table__row">
            <td class="c-table__cell">
              <div class="o-media">
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--small">
                    <img class="c-avatar__img" src="<%=user.image.present? ? user.image.url : asset_path('avatar1-72.jpg') %>" alt="Jessica Alba">
                  </div>
                </div>
                <div class="o-media__body">
                  <h6> <%= user.full_name %></h6>
                  <p>  <%= user.occupation %> </p>
                </div>
              </div>
            </td>
            <td class="c-table__cell">
              <% if current_user.student? %>
                <%= user.university %>
              <% else %>
                <%= user.phone %>
              <% end %>
            </td>
            <td class="c-table__cell">
              <% if current_user.student? %>
                <%= user.city_name %>
              <% else %>
                <%= user.email %>
              <% end %>

            </td>
            <td class="c-table__cell">   <%= user.nationality %></td>

            <td class="c-table__cell">
              <% if can? :read, User %>
                <% if current_user.student? %>
                  <%= link_to 'Select', user_path(user), class: "c-badge c-badge--small c-badge--info" %>
                <% else %>
                  <%= link_to 'Show', user_path(user), class: "c-badge c-badge--small c-badge--info" %>
                <% end %>
              <% end %>

              <% unless current_user.student? %>
                <% if can? :update, User  %>
                  <%= link_to 'Edit', edit_user_path(user),class: "c-badge c-badge--small c-badge--info" %>
                <% end %>

                <% if can? :destroy, User  %>
                  <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'are you sure'},class: "c-badge c-badge--small c-badge--fancy" %>
                <% end %>
                <% if can? :update, User  %>
                  <%= link_to 'Lock', lock_user_path(user), data: {confirm: 'are you sure'},class: "c-badge c-badge--small c-badge--fancy" if user.admin_confirmation %>
                  <%= link_to 'Unlock', unlock_user_path(user), data: {confirm: 'are you sure'},class: "c-badge c-badge--small c-badge--fancy" unless user.admin_confirmation %>
                <% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>