<!-- ======================= FORMS =======================-->
<div class="row u-mt-xlarge#">
  <div class="col-12">
    <h3 class="u-mb-small">New User Elements</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row u-mb-medium">
      <div class="col-12">
        <div class="c-card">
          <%= form_for current_user, url: update_my_profile_users_path, method: :post, multiple: true do |f| %>

            <div class="row u-mb-medium">
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input1">First Name</label>
                  <%= f.text_field :first_name, placeholder: :first_name, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input2">Last Name</label>
                  <%= f.text_field :last_name, placeholder: :last_name, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Phone</label>
                  <%= f.text_field :phone, placeholder: :phone, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Email</label>
                  <%= f.text_field :email, placeholder: :email, class: 'c-input' %>
                </div>
              </div>
<!--              <div class="col-lg-3 u-mb-xsmall">-->
<!--                <div class="c-field">-->
<!--                  <label class="c-field__label" for="input3">Password</label>-->
                  <%#= f.text_field :password, placeholder: :password, class: 'c-input' %>
<!--                </div>-->
<!--              </div>-->
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">City Name</label>
                  <%= f.text_field :city_name, placeholder: :city_name, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Country Name</label>
                  <%= f.text_field :country_name, placeholder: :city_id, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">CGPA</label>
                  <%= f.text_field :cgpa, placeholder: :cgpa, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">University</label>
                  <%= f.text_field :university, placeholder: :university, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Occupation</label>
                  <%= f.text_field :occupation, placeholder: :occupation, class: 'c-input' %>
                </div>
              </div>


              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Address</label>
                  <%= f.text_field :address, placeholder: :address, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Department Name</label>
                  <%= f.text_field :department_name, placeholder: :department_name, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Date of birth</label>
                  <%= f.text_field :dob, placeholder: 'Date of birth', class: 'c-input datetimepicker' %>
                </div>
              </div>

              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Nationality</label>
                  <%= f.text_field :nationality, placeholder: :nationality, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Nid</label>
                  <%= f.text_field :nid, placeholder: :nid, class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Passport</label>
                  <%= f.text_field :passport, placeholder: 'Passport', class: 'c-input' %>
                </div>
              </div>
              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">University</label>
                  <%= f.text_field :university, placeholder: 'University', class: 'c-input' %>
                </div>
              </div>

              <div class="col-lg-3 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input3">Image</label>
                  <%= f.file_field :image, placeholder: :image, class: 'c-input' %>
                </div>
              </div>
            </div>

            <div class="row u-mb-medium">
              <div class="col-lg-12 u-mb-xsmall">
                <div class="c-field">
                  <label class="c-field__label" for="input1">About yourself</label>
                  <%= f.text_area :about, class: 'c-input' %>
                </div>
              </div>
            </div>

            <div class="c-field">
              <%= link_to 'Cancel', users_path, class: "c-btn c-btn--secondary u-mb-xsmall" %>
              <%= f.submit class: "c-btn c-btn--secondary u-mb-xsmall" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>