<%= render 'users_table_for_head_admin' if current_user.head_admin?%>
<%= render 'users_table_for_mentor' if current_user.mentor?%>
<%= render 'users_table_for_student' if current_user.student?%>
<div style="float: right; margin: 5px 0 0 0;">
  <ul class="c-pagination u-mb-medium float-right">
    <li>
      <a class="c-pagination__link" href=<%= path_to_prev_page @users %>>
        <i class="feather icon-chevron-left"></i>
      </a>
    </li>

    <li>
      <a class="c-pagination__link" href=<%= path_to_next_page @users %>>
        <i class="feather icon-chevron-right"></i>
      </a>
    </li>
  </ul>
</div>

