<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="c-alert c-alert--info u-mb-medium">
                <span class="c-alert__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                </span>

        <div class="c-alert__content">
          <h4 class="c-alert__title">Heads Up, you look awesome today :)</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur, ipsam laboriosam alias reiciendis mollitia dolores ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur, ipsam laboriosam alias reiciendis mollitia dolores!</p>
        </div>
      </div><!-- // .c-alert -->

      <nav class="c-tabs">
        <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
          <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Activity</a>
          <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Documents</a>
          <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Notes</a>
        </div>
        <div class="c-tabs__content tab-content" id="nav-tabContent">
          <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="c-feed">
              <div class="c-feed__item">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Add new payout method</h6>
                  <p>Added paypal as the default payout method</p>
                </div>
                <p class="u-text-xsmall">just now</p>
              </div>

              <div class="c-feed__item c-feed__item--success">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Payment received</h6>
                  <p>Cha-ching payment received from <a href="#">@client-22</a></p>
                </div>
                <p class="u-text-xsmall">30 mins ago</p>
              </div>

              <div class="c-feed__item">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Project Approved</h6>
                  <p>Added landing page design to finished projects</p>
                </div>

                <p class="u-text-xsmall">6 hours ago</p>
              </div>

              <div class="c-feed__item c-feed__item--fancy">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Project Approved</h6>
                  <p>Moved new charachter design to <a href="#">@adamslandler</a></p>
                </div>
                <p class="u-text-xsmall">2 Days ago</p>
              </div>

              <div class="c-feed__item c-feed__item--danger">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Project Approved</h6>
                  <p>Design was approved by Neat company</p>
                </div>
                <p class="u-text-xsmall">2 Days ago</p>
              </div>

              <div class="c-feed__item c-feed__item--warning">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Project Approved</h6>
                  <p>New order received from Canada by #49832</p>
                </div>
                <p class="u-text-xsmall">4 Days ago</p>
              </div>

              <div class="c-feed__item">
                <div class="c-feed__item-content">
                  <h6 class="u-text-small">Project Approved</h6>
                  <p>New order received from Canada by #49832</p>
                </div>
                <p class="u-text-xsmall">5 Days ago</p>
              </div>
            </div><!-- // .c-feed -->
          </div>
          <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo reiciendis non optio, laborum enim ipsum dolorum, voluptatem ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo!</div>
          <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">optio, laborum enim ipsum dolorum, voluptatem ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo reicienoptio, laborum enim ipsum dolorum, voluptatem ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo reicien</div>
        </div>
      </nav>
    </div>

    <div class="col-md-5">
      <div class="c-card">
        <div class="u-text-center">
          <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
            <%if current_user.image.present?  %>
              <img class="c-avatar__img" src="<%= current_user.image %>" alt="Avatar">
            <%else %>
              <img class="c-avatar__img" src="<%= asset_path('avatar.jpeg') %>" alt="Avatar">
            <%end%>

          </div>
          <%if current_user.first_name.present? || current_user.last_name.present? %>

            <h5> <%= current_user.first_name %> <%= current_user.last_name %> </h5>
          <%else %>
            <h5> Na</h5>
          <%end %>
          <p><%= current_user.occupation.present? ? current_user.occupation : 'Na' %></p>
        </div>

        <span class="c-divider u-mv-small"></span>

        <span class="c-text--subtitle">Email Address</span>
        <p class="u-mb-small u-text-large"><%= current_user.email.present? ? current_user.email : 'Na' %></p>

        <span class="c-text--subtitle">Phone NUMBER</span>
        <p class="u-mb-small u-text-large"><%= current_user.phone.present? ? current_user.phone : 'Na' %></p>

        <span class="c-text--subtitle">Address</span>
        <p class="u-mb-small u-text-large"><%= current_user.address.present? ? current_user.address : 'Na' %></p>

        <span class="c-text--subtitle u-block">Tags</span>
        <a class="c-badge c-badge--small c-badge--info u-mb-xsmall" href="user-profile.html#">Sketch</a>
        <a class="c-badge c-badge--small c-badge--info u-mb-xsmall" href="user-profile.html#">Photoshop</a>
        <a class="c-badge c-badge--small c-badge--danger u-mb-xsmall" href="user-profile.html#">HTML</a>
        <a class="c-badge c-badge--small c-badge--success u-mb-xsmall" href="user-profile.html#">CSS</a>
        <a class="c-badge c-badge--small c-badge--fancy u-mb-xsmall" href="user-profile.html#">Figma</a>
        <a class="c-badge c-badge--small c-badge--danger" href="user-profile.html#">AE</a>
      </div>

      <div class="c-card">
        <h4>Payments</h4>
        <p class="u-mb-medium">Add or remove a payout method</p>

        <div class="o-media u-mb-small">
          <div class="o-media__img u-mr-xsmall">
            <img src="<%= asset_path('paypal.svg') %>" alt="PayPal">
          </div>

          <div class="o-media__body u-flex u-justify-between">
            <p>adam@sandler.com</p>
            <a class="u-text-small" href="user-profile.html#">Remove</a>
          </div>
        </div>

        <div class="o-media u-mb-small">
          <div class="o-media__img u-mr-xsmall">
            <img src="<%= asset_path('stripe.svg') %>" alt="Stripe">
          </div>

          <div class="o-media__body u-flex u-justify-between">
            <p>adam@sandler.com</p>
            <a class="u-text-small" href="user-profile.html#">Remove</a>
          </div>
        </div>

        <div class="o-media">
          <div class="o-media__img u-mr-xsmall">
            <img src="<%= asset_path('bank.svg') %>" alt="Bank">
          </div>

          <div class="o-media__body u-flex u-justify-between">
            <p>xxxx-5623</p>
            <a class="u-text-small" href="user-profile.html#">Remove</a>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>


