<%= form_for @schedule do |f| %>

  <div class="row u-mb-medium">
    <div class="col-lg-6 u-mb-xsmall">
      <div class="c-field">
        <%= f.label :start_time, class: "c-field__label" %>
        <div class="c-badge c-badge--info">
          <%= f.datetime_select :start_time, class: "c-input", placeholder: "start time" %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 u-mb-xsmall">
      <div class="c-field">
        <%= f.label :end_time, class: "c-field__label" %>
        <div class="c-badge c-badge--info">
          <%= f.datetime_select :end_time, class: "c-input", placeholder: "end time" %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 u-mb-xsmall">
      <div class="c-choice c-choice--checkbox" style="margin-top: 25px">
        <%= f.check_box :is_paid, class: "c-choice__input", id: "is_paid" %>
        <label class="c-choice__label" for="is_paid">Paid?</label>
      </div>
    </div>
    <div class="col-lg-5 u-mb-xsmall">
      <div class="c-field">
        <%= f.label :schedule_cost, class: "c-field__label" %>
        <%= f.text_field :schedule_cost, class: "c-input", placeholder: "schedule cost" %>
      </div>
    </div>
    <div class="col-lg-12 u-mb-xsmall">
      <div class="c-choice c-choice--checkbox">
        <button class="c-btn"><%= submit %></button>
      </div>
    </div>
  </div>
<% end %>