<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Student</th>
          <th class="c-table__cell c-table__cell--head">Country</th>
          <th class="c-table__cell c-table__cell--head">Time Slot</th>
          <th class="c-table__cell c-table__cell--head">Date</th>
          <th class="c-table__cell c-table__cell--head">Skype</th>
          <th class="c-table__cell c-table__cell--head">Phone</th>
        </tr>
        </thead>

        <tbody>
        <% @schedules.each do |schedule| %>
          <tr class="c-table__row">
            <td class="c-table__cell">
              <div class="o-media">
                <div class="o-media__img u-mr-xsmall">
                  <div class="c-avatar c-avatar--small">
                    <%= image_tag 'avatar1-72.jpg', class: "c-avatar__img", alt: "user name" %>
                  </div>
                </div>
                <div class="o-media__body">
                  <h6><%= schedule.student.full_name %></h6>
                  <p><%= schedule.student.occupation %></p>
                </div>
              </div>
            </td>
            <td class="c-table__cell"><%= schedule.student.occupation %></td>
            <th class="c-table__cell"><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></th>
            <td class="c-table__cell">19-11-2018</td>
            <td class="c-table__cell">
              <a class="c-badge c-badge--small c-badge--info" href="#"><%= schedule.user_skype %></a>
            </td>
            <td class="c-table__cell"> <%= schedule.user_phone_no%> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>