<div class="col-md-12">
  <h3 class="u-mb-small">Schedule</h3>
  <div class="c-card" style="padding:40px;">
    <% if current_user.head_admin? %>
      <span class="c-badge c-badge--primary">Mentor Name: <%= @schedule.mentor.full_name %></span>
      <span class="c-badge c-badge--primary">Mentor Id: <%= 'Demo - 1222' %></span>
    <% end %>
    <span class="c-badge c-badge--primary">Date: <%= @schedule.start_time.strftime("%d/%b/%Y") %></span>
    <span class="c-badge c-badge--info">Start: <%= @schedule.start_time.strftime("%H:%M") %></span>
    <span class="c-badge c-badge--success">Start: <%= @schedule.end_time.strftime("%H:%M") %></span>
    <span class="c-badge c-badge--warning"><%= @schedule.is_paid ? 'Paid':'Free' %></span>
    <span class="c-badge c-badge--danger"><%= @schedule.schedule_cost %>$</span>
    <% if @schedule.student.present? %>
      <div class="c-badge c-badge--primary">
        <p class="u-text-xsmall">Schedule is booked by <%= @schedule.student.full_name %></p>
      </div>
      <div class="c-badge c-badge--primary">
        <p class="u-text-xsmall">Skype: <b><%= @schedule.user_skype %></b></p>
      </div>
      <div class="c-badge c-badge--primary">
        <p class="u-text-xsmall">Phone: <b><%= @schedule.user_phone_no %></b></p>
      </div>
    <% else %>
      <div class="c-badge c-badge--primary">
        <%= link_to 'Book now', booking_schedule_path(schedule_id: schedule.id), id: "schedule_id_#{schedule.id}", class: "u-text-xsmall", remote: true if current_user.student?%>
      </div>
    <% end %>
  </div>
</div>

