
<!--====Header Area
  ====================================-->
<header id="site-header" class="header-area">
  <div class="header-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-menu-wrap hidden-xs hidden-sm">
            <div class="logo">
              <a href="/">
                <%= image_tag 'abroad-inquery-logo.png', size: '24x24', alt: 'logo' %>
                <%#= image_tag 'logo.png', size: '24x24', alt: 'logo' %>
                <span><b>Abroad Inquiry</b></span>
              </a>
            </div><!--/.logo-->
            <nav class="menu">
              <ul id="nav">
                <li>
                  <%= link_to 'Home', root_path %>
                </li>

                <li>
                  <%= link_to 'Services', '#' %>
                </li>

                <li>
                  <%= link_to 'Country', '#' %>
                </li>

                <li>
                  <%= link_to 'Scholarships', '#'%>
                </li>
                <li>
                  <%= link_to 'Blog', blogs_path %>
                </li>

                <li>
                  <%= link_to 'About Us', about_us_path %>
                </li>

<!--                <li class="dropdown-trigger"><a href="#">Faq</a>-->
<!--                  <ul class="dropdown-content">-->
<!--                    <li>-->
                      <%#= link_to 'FAQ', faq_path %>
<!--                    </li>-->
<!--                    <li>-->
                      <%#= link_to 'About Us', about_us_path %>
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
              </ul>
            </nav><!--/.menu-->
            <div class="register-contact-nav pull-right">
              <%#= link_to('Logout', destroy_user_session_path, method: :delete) if user_signed_in? %>
              <div class="login">
                <%= link_to 'Register', new_user_registration_path unless user_signed_in?%>
                <%= link_to 'Login', new_user_session_path unless user_signed_in?%>
              </div>
              <a class="btn btn-default" href="/contact">contact</a>
              <%= link_to 'Dashboard', '/dashboard', class: "btn btn-default" if user_signed_in?%>
            </div><!--/.register-contact-nav-->
          </div><!--/.logo-menu-wrap-->
        </div><!--/.col-lg-12-->
      </div><!--/.row-->
    </div><!--/.container-fluid-->
  </div><!--/.headier-inner-->

<!--  <div id="sticky-header"></div>-->

  <!--Mobile Menu-->
  <div class="mobile-menu">
    <a class="mobile-logo" href="/">
      <%#= image_tag 'logo.png', alt: 'logo' %>
      <%= image_tag 'abroad-inquery-logo.png', size: '24x24', alt: 'logo' %>
      <%#= image_tag 'logo.png', size: '24x24', alt: 'logo' %>
      <span><b>Abroad Inquiry</b></span>
    </a>
  </div>
</header><!--/.header-area-->
