
<!--====Header Area
  ====================================-->
<header id="site-header" class="header-area">
  <div class="header-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo-menu-wrap hidden-xs hidden-sm">
            <div class="logo">
              <a href="/">
                <%= image_tag 'logo.png', alt: 'logo' %>
              </a>
            </div><!--/.logo-->
            <nav class="menu">
              <ul id="nav">
                <li class="dropdown-trigger"><a href="edulab.html#">home</a>
                  <ul class="dropdown-content">
                    <li><a href="edulab/index.html">home one</a></li>
                    <li><a href="edulab/index02.html">home two</a></li>
                  </ul>
                </li>
                <li class="dropdown-trigger"><a href="edulab.html#">Courses</a>
                  <ul class="dropdown-content">
                    <li><a href="edulab/courses.html">courses</a></li>
                    <li><a href="edulab/single-course.html">course Details</a></li>
                  </ul>
                </li>
                <li class="dropdown-trigger"><a href="edulab.html#">Events</a>
                  <ul class="dropdown-content">
                    <li><a href="edulab/events.html">Events</a></li>
                    <li><a href="edulab/event-details.html">Events Details</a></li>
                  </ul>
                </li>
                <li class="dropdown-trigger"><a href="edulab.html#">Pages</a>
                  <ul class="dropdown-content">
                    <li><a href="<%= about_path %>">about us</a></li>
                    <li><a href="edulab/e-learning.html">Learning courses</a></li>
                    <li><a href="edulab/album.html">Album</a></li>
                    <li><a href="<%= faq_path %>">FAQ</a></li>
                    <li><a href="edulab/pricing-table.html">pricing</a></li>
                    <li><a href="edulab/login.html">login</a></li>
                    <li><a href="edulab/register.html">register</a></li>
                    <li class="dropdown-trigger"><a href="edulab.html#">gallery</a>
                      <ul class="dropdown-content">
                        <li><a href="edulab/gallery-one.html">gallery one</a></li>
                        <li><a href="edulab/gallery-two.html">gallery two</a></li>
                        <li><a href="edulab/gallery-three.html">gallery three</a></li>
                      </ul>
                    </li>
                    <li><a href="edulab/contact.html">contact us</a></li>
                    <li><a href="edulab/coming-soon.html">coming soon</a></li>
                    <li><a href="edulab/404.html">404</a></li>
                  </ul>
                </li>
                <li class="dropdown-trigger"><a href="edulab.html#">blog</a>
                  <ul class="dropdown-content">
                    <li><a href="edulab/blog-grid.html">Blog Grid</a></li>
                    <li><a href="edulab/blog-grid-masonry.html">Blog Grid Masonry</a></li>
                    <li><a href="edulab/blog-grid-col-3.html">Blog Grid 3</a></li>
                    <li><a href="edulab/blog-grid-3-masonry.html">Blog Grid 3 Masonry</a></li>
                    <li><a href="edulab/blog-list.html">Blog List</a></li>
                    <li><a href="edulab/single-blog.html">Single Blog</a></li>
                  </ul>
                </li>
              </ul>
            </nav><!--/.menu-->
            <div class="register-contact-nav pull-right">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) if user_signed_in? %>
              <div class="login">
                <%= link_to 'Register', new_user_registration_path unless user_signed_in?%>
                <%= link_to 'Login', new_user_session_path unless user_signed_in?%>
              </div>
              <a class="btn btn-default" href="/contact">contact</a>
            </div><!--/.register-contact-nav-->
          </div><!--/.logo-menu-wrap-->
        </div><!--/.col-lg-12-->
      </div><!--/.row-->
    </div><!--/.container-fluid-->
  </div><!--/.headier-inner-->

  <div id="sticky-header"></div><!--/#sticky-header-->

  <!--Mobile Menu-->
  <div class="mobile-menu">
    <a class="mobile-logo" href="edulab/index.html">
      <%= image_tag 'logo.png', alt: 'logo' %>
    </a>
  </div>
</header><!--/.header-area-->
