
<!--====Header Area
  ====================================-->
<header id="site-header" class="header-area">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <%= image_tag 'abroad-inquery-logo.png', size: '24x24', alt: 'logo' %> <span class="site-logo"><b>Abroad Inquiry</b></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="nav navbar-nav mr-auto">

        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link c-nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Services', services_path, class: "nav-link c-nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Country', countries_path, class: "nav-link c-nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Scholarships', scholarships_path, class: "nav-link c-nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'Blog', blogs_path, class: "nav-link c-nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to 'About Us', about_us_path, class: "nav-link c-nav-link" %>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: "nav-link c-nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link c-nav-link"%>
          </li>
        <% end %>

        <li class="nav-item">
          <a class="nav-link c-nav-link" href="/contact">contact</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', '/dashboard', class: "nav-link c-nav-link"%>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>
</header><!--/.header-area-->