<!--====Home Search Section
    ====================================-->
<div id="home-search-section" class="home-search-section-area bg-image home-header-one" style="background-image: url(<%= asset_path('welcome-bg.jpg')%>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="welcome-text text-center tb">
          <div class="tb-cell">
            <h1>Learn the factual study abroad information from experienced mentor</h1>
            <p>
              Get a mentor today and save your research time & get real-life authentic information from experienced mentor that you will never learn from unauthentic sources.
              We make sure to provide true experiences and hassle free service for your higher study abroad.
            </p>

            <%= form_tag mentor_schedules_path, class: "product-search-form", method: :get do%>
              <div class="form-group">
                <%#= text_field_tag :search, '', class: "form-controllar", placeholder: "Which country you want to go" %>
                <%= select_tag :country, options_from_collection_for_select(@countries, "id", "name"), class: "form-controllar", prompt: "Which country you want to go" %>
                <%= submit_tag :search, class: "btn btn-default btn-primary" %>
              </div>
            <% end %>

          </div><!--/.tb-cell-->
        </div><!--/.welcome-text-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/#home-search-section-->

<!--====Services Section
====================================-->
<section id="services-section" class="services-section-area s-pd1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">This is what we offer</h2>
          <p>
            Informing to the aspirants the factual information of a country and providing admission,
            scholarship and visa services for study abroad through expert mentors who already went through the process, became successful and living the country.
          </p>

        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/Logo-for-online-guidance.jpeg', size: '50x50', alt: 'icon' %>
          </div>
          <h3>Online Guidance Service</h3>
          <p class="services">Here you will get the full guidance and information for your selected country and you can book an
            appointment with our expert mentors from different countries.
            Later, you will talk with your chosen mentor over Skype for thirty minutes.
            The mentor will inform you of the factual information related to your subject, universities,
            country and part-time job facilities, financial matters, scholarships and relevant information. In addition, the mentor will analyze
            your profile and guide you to which university & scholarship suits your profile. Besides, you can ask as much as relevant questions.
            Does it seem like interested in talking with your desire mentor?
            Then you can <a href="/contact">contact us</a>
            or choose a <%= link_to :country, countries_path %> and select a mentor <a href="#">here</a>.
          </p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/Logo-for-admission-and-visa.jpeg', size: '50x50', alt: 'icon' %>
          </div><!--/.row-->
          <h3>Admission and Visa Service</h3>
          <p class="services">
            After meeting with your mentor, if you decided to further work with Abroad Inquiry, then you can apply through us.
            We will further guide you on how to arrange your paper, how to prepare your document for application. Consequently,
            we will apply for your admission and visa on behalf of you. Until you get your visa,
            we will take all of your responsibility to fulfill your higher study abroad dream.
            If you are interested, you can <a href="/contact">contact us</a> or request it <a href="#">here</a>.
          </p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/Logo-for-scholarship-and-visa.jpeg', size: '50x50', alt: 'icon' %>
          </div><!--/.row-->
          <h3>Scholarship and Visa Service</h3>
          <p class="services">
            Once you have decided to apply abroad with scholarship, our awarded scholars will assist you until you get your admission, scholarship and visa.
            As our mentors are living your desire country and have got the real life experiences from their field of interest and became successful,
            they will inform and guide you in all aspects such as how to write a killer motivation letter for scholarship,
            documents you need to arrange for scholarship, costs of application and so on.
            If you would like to apply for scholarship, then you can select a  <%= link_to :scholarship, scholarships_path %> and feel free to <a href="/contact">contact us</a>.
          </p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#services-section-->

<!--====Courses Section
====================================-->
<section id="courses-section" class="popular-courses-area bg-gray s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Popular Countries</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <!--    <div class="row">-->
    <!--      <div class="col-lg-12">-->
    <!--        <ul class="list-unstyled popular-filter-nav text-center">-->
    <!--          <li><a class="filter" href="#" data-filter="*">All</a></li>-->
    <!--          <li><a class="filter" href="#" data-filter=".design">Design</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".development">Development</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".business">Business</a></li>-->
    <!--          <li><a href="#" class="filter" data-filter=".photography">Photography</a></li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="row courses-item-content">
      <% @countries.first(3).each do |country| %>
        <div class="col-lg-4 col-sm-6 design photography">
          <!--Single Course Item Start-->
          <div class="single-course-item border-radius">
            <div class="course-content">
              <h2>
                <%= link_to country.name, mentor_schedules_path(country: country.id) %>
              </h2>
              <% if country.users.present? %>
                <div class="trainer-profile clearfix">
                  <%= image_tag "author/author-1.jpg", class: "rounded-circle", alt: "img" %>
                  <div class="trainer-info">
                    <h3><%= country.users.mentors.first.full_name %></h3>
                    <p><%= country.users.mentors.first.dob %></p>
                  </div>
                  <div class="course-cat text-capitalize text-right">
                    <!--                            <a href="courses.html#">Schedules</a>-->
                    <%= link_to user_path(country.users.mentors.first) do %>
                      Schedules
                    <% end %>
                  </div>
                </div><!--/.trainer-profile-->
              <% else %>
                <div class="trainer-profile clearfix">
                  <%= image_tag "author/author-1.jpg", class: "rounded-circle", alt: "img" %>
                  <div class="trainer-info">
                    <h3>Country has no Mentor</h3>
                  </div>
                </div><!--/.trainer-profile-->
              <% end %>
            </div><!--/.course-content-->
          </div><!--/.single-course-item-end-->
        </div><!--/.col-lg-4-->
      <% end %>
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="group-btn text-center">
          <a href="/users/sign_up" class="btn btn-default btn-primary">Apply for Study Abroad</a>
          <a href="/scholarships" class="btn btn-default">Apply with Scholarship</a>
        </div><!--/.form-group-btn-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#courses-section-->

<!--====Blog Section
====================================-->
<section id="blog-section" class="blog-section-area bg-gray s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Recent Blogs</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <!-- Start single blog -->

      <% if @blogs.present?  %>
        <% @blogs.each do |blog| %>
          <div class="col-md-4 col-sm-12">
            <div class="blog">
              <div class="blog-thumb">
                <%= image_tag image_url(blog.image), alt: "blog image", style: 'height: 200px' %>
              </div>
              <div class="blog-details">
                <div class="blog-time">
                  <span class="blog-date"><%= blog.created_at.strftime("%B %d %Y  %I:%M %P") %> By <a href="#"> <%= blog.admin_user.full_name %> </a></span>
                  <span class="blog__category">Category <a href="#"><%= blog.category.name %></a></span>
                </div>
                <div class="blog-title">
                  <h3>
                    <%= link_to blog_path(blog.id) do%>
                      <!--                          9 Ridiculous Rules About Tweets -->
                      <%= truncate(blog.title, length: 30) %>
                    <% end %>
                  </h3>

                </div>
                <p> <%= truncate(blog.short_body, length: 80)%></p>
                <div class="blog-more">
                  <%= link_to 'Read More', blog_path(blog.id), class: "btn btn-default" %>
                  <span class="blog-comments"><a href="#"><%= blog.comments.count %> comments</a></span>
                </div>
              </div>
            </div>
          </div>
        <%end %>
      <%else %>
        <div style="text-align: center; font-size: medium"> No Blog Found </div>
      <%end %>
      <!-- End single blog -->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-button text-center">
          <%= link_to 'go to blog', blogs_path, class: "btn btn-default btn-primary" %>
        </div>
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!-- End blog area -->

<% content_for :javascript do %>
  <script type="text/javascript">
      $(document).ready(function() {
          $(".services").shorten({
              "showChars" : 150,
              "moreText"	: "See More",
              "lessText"	: "Less",
          });
      });
  </script>
<% end %>