<!--====Home Search Section
    ====================================-->
<div id="home-search-section" class="home-search-section-area bg-image home-header-one" style="background-image: url(<%= asset_path('welcome-bg.jpg')%>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="welcome-text text-center tb">
          <div class="tb-cell">
            <h1>Learn anything to anyone from anywhere</h1>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint.</p>
            <form class="product-search-form" action="#" method="get">
              <div class="form-group">
                <input class="form-controllar" name="search" placeholder="Search here" type="text">
                <button class="btn btn-default btn-primary" type="submit">search</button>
              </div>
            </form><!--/.product-search-form-->
          </div><!--/.tb-cell-->
        </div><!--/.welcome-text-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/#home-search-section-->

<!--====Services Section
====================================-->
<section id="services-section" class="services-section-area s-pd1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">This is what we offer you</h2>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est deserunt mollit anim laborum. Sed perspiciatis unde omnis iste natus.</p>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/s-icon1.png', alt: 'icon' %>
          </div>
          <h3>Expert Instractors</h3>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/s-icon2.png', alt: 'icon' %>
          </div><!--/.row-->
          <h3>Learn Anywhere</h3>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut  enim ad minim veniam.</p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-md-4">
        <div class="single-service text-center">
          <div class="icon">
            <%= image_tag 'icon/s-icon3.png', alt: 'icon' %>
          </div><!--/.row-->
          <h3>Unlimited Access</h3>
          <p>Sed do eiusmod tempor incididunt ut  labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div><!--/.single-service-->
      </div><!--/.col-lg-4-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#services-section-->

<!--====Courses Section
====================================-->
<section id="courses-section" class="popular-courses-area bg-gray s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Popular Courses</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled popular-filter-nav text-center">
          <li><a class="filter" href="#" data-filter="*">All</a></li>
          <li><a class="filter" href="#" data-filter=".design">Design</a></li>
          <li><a href="#" class="filter" data-filter=".development">Development</a></li>
          <li><a href="#" class="filter" data-filter=".business">Business</a></li>
          <li><a href="#" class="filter" data-filter=".photography">Photography</a></li>
        </ul><!--/.popular-filter-nav-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
    <div class="row courses-item-content">
      <div class="col-lg-4 col-sm-6 design photography">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course1.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">Object-Oriented Python</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-6 business">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course2.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">Isometric Mockup Design</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-sm-6 design photography">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course3.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">HTML5 Essential Training</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-sm-6 development business">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course4.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">Photo Manipulation</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-6 design">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course5.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">PHP Essential Training</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Development</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->
      <div class="col-lg-4 col-sm-6 development photography">
        <!--Single Course Item Start-->
        <div class="single-course-item border-radius">
          <div class="course-thumb-area">
            <%= image_tag 'courses/course6.jpg', alt: 'img' %>
            <div class="course-meta">
              <a href="#"><i class="fa fa-heart-o"></i></a>
              <a href="#"><i class="fa fa-share-alt"></i></a>
            </div>
            <span class="course-duration">2.2 hours</span>
          </div><!--/.course-thumb-area-->
          <div class="course-content">
            <h2><a href="edulab/single-course.html">Illustration For Beginner</a></h2>
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            <div class="course-reviews">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="total-reviews">(105 reviews)</span>
            </div><!--/.course-reviews-->
            <div class="trainer-profile clearfix">
              <%= image_tag 'author/author-1.jpg', alt: 'img' %>
              <div class="trainer-info">
                <h3>Kelium Smith</h3>
                <p>24 april 2017</p>
              </div>
              <div class="course-cat text-capitalize text-right"><a href="#">Design</a></div>
            </div><!--/.trainer-profile-->
          </div><!--/.course-content-->
        </div><!--/.single-course-item-end-->
      </div><!--/.col-lg-4-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="group-btn text-center">
          <a href="#" class="btn btn-default btn-primary">Start Your Free Trail</a>
          <a href="#" class="btn btn-default">Explore More Courses</a>
        </div><!--/.form-group-btn-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#courses-section-->

<!--====Counter Section
====================================-->
<section class="counter-section before-bg bg-image s-pd145" style="background-image: url(<%= asset_path('counter-bg.jpg') %>);">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-3 col-sm-3 col-6">
            <div class="single-counter">
              <h2><span class="counter">874</span></h2>
              <p>courses</p>
            </div><!--/.single-counter-->
          </div><!--/.col-lg-3-->
          <div class="col-lg-3 col-sm-3 col-6">
            <div class="single-counter">
              <h2><span class="counter">600</span></h2>
              <p>students</p>
            </div><!--/.single-counter-->
          </div><!--/.col-lg-3-->
          <div class="col-lg-3 col-sm-3 col-6">
            <div class="single-counter">
              <h2><span class="counter">472</span></h2>
              <p>E-Book</p>
            </div><!--/.single-counter-->
          </div><!--/.col-lg-3-->
          <div class="col-lg-3 col-sm-3 col-6">
            <div class="single-counter">
              <h2><span class="counter">243</span></h2>
              <p>Teachers</p>
            </div><!--/.single-counter-->
          </div><!--/.col-lg-3-->
        </div><!--/.row-->
      </div><!--/.col-lg-10-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.counter-section-->

<!--====Learning Section
====================================-->
<section id="learning-section" class="learning-section-area s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">learning Tracks</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg') %>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">18 hours</span>
              <h2><a href="edulab/single-course.html">Full Stack Web Developer</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg') %>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">14 hours</span>
              <h2><a href="edulab/single-course.html">Learn Interface Design</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg') %>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">22 hours</span>
              <h2><a href="edulab/single-course.html">Deploying Rails Apps</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.learning-overlay-text-->

      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg')%>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">8 hours</span>
              <h2><a href="edulab/single-course.html">Beginner Android Development</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg')%>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">12 hours</span>
              <h2><a href="edulab/single-course.html">WordPress Development</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4 col-sm-12">
        <div class="single-learning-item bg-image" style="background-image: url(<%= asset_path('learning/1.jpg')%>);">
          <div class="learning-overlay-text tb">
            <div class="tb-cell">
              <span class="course-duration">16 hours</span>
              <h2><a href="edulab/single-course.html">Full Stack JavaScript</a></h2>
              <p>Cupidatat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
              <a href="edulab/single-course.html" class="btn btn-default">Explore</a>
            </div>
          </div><!--/.learning-overlay-text-->
        </div><!--/.single-learning-item-->
      </div><!--/.col-lg-4-->
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-12">
        <div class="group-btn text-center">
          <a href="#" class="btn btn-default btn-primary">Start Your Free Trail</a>
          <a href="#" class="btn btn-default">Explore More Courses</a>
        </div><!--/.group-btn-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#learning-section-->

<!--====Featured Section
====================================-->
<section id="featured-section" class="featured-course-area bg-gray s-pd3">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Featured Course</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-6">
        <a href="https://www.youtube.com/watch?v=Ey1lkwYGSC0" class="video-btn">
          <%= image_tag 'featured-video.jpg', alt: 'img' %>
          <span class="play-icon">
                              <i class="fa fa-play"></i>
                          </span>
        </a>
      </div><!--/.col-lg-6-->
      <div class="col-lg-6">
        <div class="featured-course-content">
          <h2>Illustrator CC 2017 Essential Training</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
          <ul class="list-unstyled list-check">
            <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.</li>
            <li>Duis aute irure dolor in reprehenderit in voluptate velit esse.</li>
          </ul>
          <div class="featured-bottom">
            <a class="btn btn-default btn-primary" href="edulab/single-course.html">Enroll this courses</a>
            <p>Enroll End<span class="enrol-date">26/12/2017</span></p>
          </div>
        </div><!--/.featured-course-content-->
      </div><!--/.col-lg-6-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#featured-section-->

<!--====Pricing Table Section
====================================-->
<section id="pricing-table-section" class="pricing-section-area s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Pricing Plan</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-4">
        <div class="single-pricing-table basic-pricing border-radius text-center">
          <div class="pricing-header">
            <h2>Basic</h2>
          </div>
          <div class="pricing-price-area">
            <%= image_tag 'icon/pricing1.png', alt: 'icon' %>
            <div class="pricing-price">
              <h3>$09</h3>
              <p>per student<br>per month</p>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="list-unstyled list-check text-left">
              <li>Consectetur adipisicing elit</li>
              <li>Sed do eiusmod tempor</li>
              <li>Incididunt dolore magna</li>
              <li>Ut enim ad minim veniam</li>
              <li>Quis nostrud exercitation</li>
              <li>Quis nostrud exercitation</li>
            </ul>
            <a class="btn btn-default" href="#">Start Free 7 Days Trial</a>
          </div><!--/.pricing-content-->
        </div><!--/.single-pricing-table-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4">
        <div class="single-pricing-table active standard-pricing border-radius text-center">
          <div class="pricing-header">
            <h2>Standard</h2>
          </div>
          <div class="pricing-price-area">
            <%= image_tag 'icon/pricing2.png', alt: 'icon' %>
            <div class="pricing-price">
              <h3>$99</h3>
              <p>per student<br>per month</p>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="list-unstyled list-check text-left">
              <li>Consectetur adipisicing elit</li>
              <li>Sed do eiusmod tempor</li>
              <li>Incididunt dolore magna</li>
              <li>Ut enim ad minim veniam</li>
              <li>Quis nostrud exercitation</li>
              <li>Quis nostrud exercitation</li>
            </ul>
            <a class="btn btn-default btn-primary" href="#">Start Free 7 Days Trial</a>
          </div><!--/.pricing-content-->
        </div><!--/.single-pricing-table-->
      </div><!--/.col-lg-4-->

      <div class="col-lg-4">
        <div class="single-pricing-table business-pricing border-radius text-center">
          <div class="pricing-header">
            <h2>business</h2>
          </div>
          <div class="pricing-price-area">
            <%= image_tag 'icon/pricing3.png', alt: 'icon' %>
            <div class="pricing-price">
              <h3>$199</h3>
              <p>per student<br>per month</p>
            </div>
          </div>
          <div class="pricing-content">
            <ul class="list-unstyled list-check text-left">
              <li>Consectetur adipisicing elit</li>
              <li>Sed do eiusmod tempor</li>
              <li>Incididunt dolore magna</li>
              <li>Ut enim ad minim veniam</li>
              <li>Quis nostrud exercitation</li>
              <li>Quis nostrud exercitation</li>
            </ul>
            <a class="btn btn-default" href="#">Start Free 7 Days Trial</a>
          </div><!--/.pricing-content-->
        </div><!--/.single-pricing-table-->
      </div><!--/.col-lg-4-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#pricing-table-section-->

<!--====Testimonial Section
====================================-->
<section id="testimonial-section" class="testimonial-area before-bg bg-image s-pd125" style="background-image: url(<%= asset_path('map.png')%>);">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-9">
        <div id="customer-reviews" class="owl-carousel" data-slider-id="1">
          <!--Single Customer Review-->
          <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            <div class="review-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--/.review-rating-->
            <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
          </div><!--/.single-customer-review-->

          <!--Single Customer Review-->
          <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            <div class="review-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--/.review-rating-->
            <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
          </div><!--/.single-customer-review-->

          <!--Single Customer Review-->
          <div class="single-customer-review text-center">                             <span class="fa fa-quote-left"></span>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus  sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            <div class="review-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div><!--/.review-rating-->
            <h4><span>Jhon Doe</span> - CEO at Symphony</h4>
          </div><!--/.single-customer-review-->
        </div><!--/#customer-reviews-->
        <div class="owl-thumbs text-center" data-slider-id="1">
          <button class="owl-thumb">
            <%= image_tag 'author/author-2.png', alt: 'img' %>
          </button>
          <button class="owl-thumb">
            <%= image_tag 'author/author-2.png', alt: 'img' %>
          </button>
          <button class="owl-thumb">
            <%= image_tag 'author/author-2.png', alt: 'img' %>
          </button>
        </div><!--/.owl-thumbs-->
      </div><!--/.col-lg-9-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#testimonial-section-->

<!--====Faqs Section
====================================-->
<section id="faqs-section" class="faqs-section-area s-pd1">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Frequently Asked Questions</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <!--Single FAQ-->
        <div class="sengle-faq">
          <span class="faq-number">A</span>
          <div class="sengle-faq-content">
            <h3>Officia deserunt mollit anim est laborum?</h3>
            <P>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. </p>
          </div>
        </div><!--/.sengle-faq-end-->

        <!--Single FAQ-->
        <div class="sengle-faq">
          <span class="faq-number">C</span>
          <div class="sengle-faq-content">
            <h3>Excepteur sint occaecat cupidatat?</h3>
            <P>Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div><!--/.sengle-faq-end-->
      </div><!--/.col-lg-6-->

      <div class="col-lg-6 col-sm-12">
        <!--Single FAQ-->
        <div class="sengle-faq">
          <span class="faq-number">B</span>
          <div class="sengle-faq-content">
            <h3>Sed ut perspiciatis unde omnis?</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
          </div>
        </div><!--/.sengle-faq-end-->
        <!--Single FAQ-->
        <div class="sengle-faq">
          <span class="faq-number">D</span>
          <div class="sengle-faq-content">
            <h3>Duis aute irure dolor in reprehenderit?</h3>
            <p>Quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div><!--/.sengle-faq-end-->
      </div><!--/.col-lg-6-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#faqs-section-->

<!--====Blog Section
====================================-->
<section id="blog-section" class="blog-section-area bg-gray s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Recent news</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->
    <div class="row">
      <!-- Start single blog -->
      <div class="col-lg-4 col-sm-12">
        <div class="blog">
          <div class="blog-thumb">
            <%= image_tag 'blog/post-1.jpg', alt: 'blog image' %>
          </div>
          <div class="blog-details">
            <div class="blog-time">
              <span class="blog-date">April 19th, 2017 By <a href="#">Alex Doe</a></span>
              <span class="blog__category">Category <a href="#">Travel</a></span>
            </div>
            <div class="blog-title">
              <h3><a href="edulab/single-blog.html">Excepteur sint occaecat cupidatat</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quisquam, et laboriosam beatae. Voluptate omni.</p>
            <div class="blog-more">
              <a href="edulab/single-blog.html" class="btn btn-default">Read More</a>
              <span class="blog-comments"><a href="#">6 comments</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End single blog -->
      <!-- Start single blog -->
      <div class="col-lg-4 col-sm-12">
        <div class="blog">
          <div class="blog-thumb">
            <%= image_tag 'blog/post-2.jpg', alt: 'blog image' %>
          </div>
          <div class="blog-details">
            <div class="blog-time">
              <span class="blog-date">April 19th, 2017 By <a href="#">Alex Doe</a></span>
              <span class="blog__category">Category <a href="#">Travel</a></span>
            </div>
            <div class="blog-title">
              <h3><a href="edulab/single-blog.html">Duis aute irure in reprehenderit</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quisquam, et laboriosam beatae. Voluptate omni.</p>
            <div class="blog-more">
              <a href="edulab/single-blog.html" class="btn btn-default">Read More</a>
              <span class="blog-comments"><a href="#">6 comments</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End single blog -->
      <!-- Start single blog -->
      <div class="col-lg-4 col-sm-12">
        <div class="blog">
          <div class="blog-thumb">
            <%= image_tag 'blog/post-3.jpg', alt: 'blog image' %>
          </div>
          <div class="blog-details">
            <div class="blog-time">
              <span class="blog-date">April 19th, 2017 By <a href="#">Alex Doe</a></span>
              <span class="blog__category">Category <a href="#">Travel</a></span>
            </div>
            <div class="blog-title">
              <h3><a href="edulab/single-blog.html">Officia deserunt mollit dolor anim</a></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quisquam, et laboriosam beatae. Voluptate omni.</p>
            <div class="blog-more">
              <a href="#" class="btn btn-default">Read More</a>
              <span class="blog-comments"><a href="#">6 comments</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End single blog -->
    </div><!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-button text-center">
          <a href="#" class="btn btn-default btn-primary">go to blog</a>
        </div>
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!-- End blog area -->

<!--====Our Partners Section
====================================-->
<section class="our-partners-section s-pd2">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8">
        <div class="section-heading-area text-center">
          <h2 class="section-heading text-capitalize">Our Partners</h2>
        </div><!--/.section-heading-area-->
      </div><!--/.col-lg-8-->
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-12">
        <div id="client-carousel" class="owl-carousel">
          <div class="single-logo">
            <%= image_tag 'logos/1.png', alt: 'img' %>
          </div>
          <div class="single-logo">
            <%= image_tag 'logos/2.png', alt: 'img' %>
          </div>
          <div class="single-logo">
            <%= image_tag 'logos/3.png', alt: 'img' %>
          </div>
          <div class="single-logo">
            <%= image_tag 'logos/4.png', alt: 'img' %>
          </div>
          <div class="single-logo">
            <%= image_tag 'logos/2.png', alt: 'logo' %>
          </div>
        </div><!--/.client-carousel-->
      </div><!--/.col-lg-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.our-partners-section-->