<!--=======Page Heading
    ==================================-->
<section class="page-heading-section page-heading-one before-bg bg-image" style="background-image: url(<%= asset_path('header/p-header3.jpg') %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="page-heading">
          <h2 class="page-name text-capitalize">Find your courses</h2>
          <a href="#" class="btn btn-default btn-primary">back to home</a>
        </div><!--/.page-heading-->
      </div><!--/.col-md-12-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.page-heading-area-->


<div class="courses-page page-wrapper">
  <%= render 'search_area' %>
  <%= render 'filter_area' %>

  <div class="col-lg-9">
    <div class="courses-page-content">
      <div class="courses-content">
        <div class="row">
          <% @mentors.each do |mentor| %>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <!--Single Course Item Start-->
              <div class="single-course-item border-radius">
                <div class="course-content">
                  <!-- <div class="course-reviews">-->
                  <!-- <i class="fa fa-star" aria-hidden="true"></i>-->
                  <!-- <i class="fa fa-star" aria-hidden="true"></i>-->
                  <!-- <i class="fa fa-star" aria-hidden="true"></i>-->
                  <!-- <i class="fa fa-star" aria-hidden="true"></i>-->
                  <!-- <i class="fa fa-star-o" aria-hidden="true"></i>-->
                  <!-- <span class="total-reviews">(105 reviews)</span>-->
                  <!-- </div></.course-reviews-->
                  <div class="trainer-profile clearfix">
                    <%#= image_tag mentor.image_url, class: "rounded-circle", alt: "img" %>
                    <%= image_tag "author/author-1.jpg", class: "rounded-circle", alt: "img" %>
                    <div class="trainer-info">
                      <h3><%= mentor.full_name %></h3>
                      <p><%= mentor.dob %></p>
                    </div>
                    <div class="course-cat text-capitalize text-right"><a href="courses.html#">Development</a></div>
                  </div><!--/.trainer-profile-->
                </div><!--/.course-content-->
              </div><!--/.single-course-item-end-->
            </div><!--/.col-lg-6-->
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <nav class="courses-navigation default-pager text-center">
              <a href="#" rel="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a href="#" rel="prev">
                <i class="fa fa-angle-right"></i>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--/.row-->
</div><!--/.container-->
</div><!--/.courses-page-content-->
</div><!--/.courses-page-->
