<div class="o-page__sidebar js-page-sidebar">
  <aside class="c-sidebar">
    <div class="c-sidebar__brand">
      <a href="/dashboard">
        <%= image_tag 'logo.svg', alt: "Neat" %>
      </a>
    </div>

    <!-- Scrollable -->
    <div class="c-sidebar__body">
      <span class="c-sidebar__title">Dashboards</span>
      <ul class="c-sidebar__list">
        <li>
          <a class="c-sidebar__link is-active" href="">
            <i class="c-sidebar__icon feather icon-home"></i>Students
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-bar-chart-2"></i>Mentor
          </a>
        </li>

        <li>
          <%= link_to student_applications_path, class: "c-sidebar__link" do %>
            <i class="c-sidebar__icon feather icon-bar-chart-2"></i>Student Applications
          <% end %>
        </li>


        <li>
          <%= link_to '#', class: "c-sidebar__link" do %>
            <i class="c-sidebar__icon feather icon-user"></i>Schedule
          <% end %>

          <!-- Always visible submenu -->
          <ul class="c-sidebar__list">
            <li><%= link_to 'Booking Schedule', schedules_path, class: "c-sidebar__link" %></li>
            <li><%= link_to 'Create Schedule', new_schedule_path, class: "c-sidebar__link" %></li>
            <li><%= link_to 'Schedule List', schedules_path, class: "c-sidebar__link" %></li>
            <li>
              <%= link_to booked_users_schedules_path, class: "c-sidebar__link" do %>
                Booked User
              <% end %>
            </li>
          </ul>
        </li>

        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-move"></i>Add Schedule
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-calendar"></i>Schedule
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-users"></i>Members
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-file-text"></i>Single Invoice
          </a>
        </li>
        <li>
          <a class="c-sidebar__link" href="#">
            <i class="c-sidebar__icon feather icon-user"></i>Users
          </a>

          <!-- Always visible submenu -->
          <ul class="c-sidebar__list">
            <li>
              <%= link_to "User List", users_path, class: 'c-sidebar__link' %>
            </li>
            <li><a class="c-sidebar__link" href="#">Role List</a></li>
            <li><a class="c-sidebar__link" href="#">Permission List</a></li>
          </ul>
        </li>
      </ul>
    </div>


    <a class="c-sidebar__footer" href="#">
      Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
    </a>
  </aside>
</div>