<div class="o-page__sidebar js-page-sidebar">
  <aside class="c-sidebar">
    <div class="c-sidebar__brand">
      <a href="/dashboard">
        <%= image_tag 'abroad-inquery-logo.png', style: 'width: 52px; height: 50px; margin-left: 70px', alt: "Neat" %>
      </a>
    </div>

    <div class="c-sidebar__body">
      <ul class="c-sidebar__list">
        <li>
          <a class="c-sidebar__link <%= current_class?("/dashboard") %>" href="/dashboard">
            <i class="c-sidebar__icon feather icon-home"></i>Dashboards
          </a>
        </li>

        <li>
          <a class="c-sidebar__link <%= current_class_same_path?(users_path, params[:type], 'mentor') %>" href="<%= users_path(:type => 'mentor') %>">
            <i class="c-sidebar__icon feather icon-user-check"></i>Mentors
          </a>
        </li>

        <% if current_user.mentor? or current_user.head_admin?%>
          <li>
            <a class="c-sidebar__link <%= current_class_same_path?(users_path, params[:type], 'student') %>" href="<%= users_path(:type => 'student') %>">
              <i class="c-sidebar__icon feather icon-user"></i>Students
            </a>
          </li>

          <li>
            <%= link_to student_applications_path, class: "c-sidebar__link #{current_class?(student_applications_path)}" do %>
              <i class="c-sidebar__icon feather icon-file-text"></i>Student Applications
            <% end %>
          </li>

          <li>
            <%= link_to new_student_application_path, class: "c-sidebar__link #{current_class?(new_student_application_path)}" do %>
              <i class="c-sidebar__icon feather icon-file-plus"></i>Make Application
            <% end %>
          </li>

          <li>
            <%= link_to schedules_path, class: "c-sidebar__link #{current_class?(schedules_path)}" do %>
              <i class="c-sidebar__icon feather icon-clock"></i>Schedules
            <% end %>
          </li>

          <li>
            <%= link_to new_schedule_path, class: "c-sidebar__link #{current_class?(new_schedule_path)} " do %>
              <i class="c-sidebar__icon feather icon-edit"></i>New Schedule
            <% end %>
          </li>

          <li>
            <%= link_to booked_users_schedules_path, class: "c-sidebar__link #{current_class?(booked_users_schedules_path)}" do %>
              <i class="c-sidebar__icon feather icon-users"></i>Booked User
            <% end %>
          </li>
        <% end %>

        <% if current_user.student? %>

          <li>
            <a class="c-sidebar__link" href="#">
              <i class="c-sidebar__icon far fa-clock"></i>Booked Schedule
            </a>
          </li>

          <li>
            <a class="c-sidebar__link" href="#">
              <i class="c-sidebar__icon fab fa-accusoft"></i>My Booked Schedule List
            </a>
          </li>

          <li>
            <a class="c-sidebar__link" href="#">
              <i class="c-sidebar__icon fab fa-avianex"></i>Accepted Schedule List
            </a>
          </li>
        <% end %>

        <li>
          <%= link_to users_path, class: "c-sidebar__link #{current_class_same_path?(users_path, params[:type], nil)}" do %>
            <i class="c-sidebar__icon feather icon-user"></i></i>Users
          <% end %>
        </li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "c-sidebar__footer" do %>
        Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
      <% end %>
    <% end %>
  </aside>
</div>