

<!-- ======================= TABLES =======================-->
<div class="row u-mt-xlarge#">
  <div class="col-12">
    <h3 class="u-mb-small">
      <%= link_to 'Create Student Application', new_student_application_path, class: 'c-badge c-badge--small# c-badge--info' %>
    </h3>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="c-table-responsive@wide">
      <table class="c-table">
        <thead class="c-table__head">
        <tr class="c-table__row">
          <th class="c-table__cell c-table__cell--head">Country</th>
          <th class="c-table__cell c-table__cell--head">Desire program</th>
          <th class="c-table__cell c-table__cell--head">Student</th>
          <th class="c-table__cell c-table__cell--head">Mentor</th>
          <th class="c-table__cell c-table__cell--head">University name</th>
          <th class="c-table__cell c-table__cell--head">Application status</th>
          <!--          <th class="c-table__cell c-table__cell--head">Date</th>-->
          <!--          <th class="c-table__cell c-table__cell--head">Tags</th>-->
          <th class="c-table__cell c-table__cell--head">Actions</th>
        </tr>
        </thead>

        <tbody>

        <% @student_applications.each do |student_application| %>
          <tr class="c-table__row">
            <td class="c-table__cell">  <%= student_application.country.name  %> </td>
            <td class="c-table__cell">  <%= student_application.desire_program %> </td>
            <td class="c-table__cell">  <%= student_application.student.first_name%> </td>
            <td class="c-table__cell">   <%= student_application.mentor.first_name %></td>
            <td class="c-table__cell">   <%= student_application.university_name %></td>
            <td class="c-table__cell">   <%= student_application.application_status %></td>

            <td class="c-table__cell">
              <%= link_to 'Show', student_application, class: "c-badge c-badge--small c-badge--info" %>

              <%= link_to 'Edit', edit_student_application_path(student_application),class: "c-badge c-badge--small c-badge--info" %>

              <%= link_to 'Delete', student_application, method: :delete, data: {confirm: 'are you sure'},class: "c-badge c-badge--small c-badge--fancy" %>
            </td>

          </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



