<!DOCTYPE html>
<html>
  <head>
    <title>Abroadinquiry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--========= Basic Page Needs =========-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--========== Specific Meta ==========-->
    <meta name="description" content="Abroad Inquiry">
    <meta name="keywords" content="Abroad Education, education, Abroad Inquiry">

    <!--======== Page Title===========-->
    <title>Abroad Inquiry - Abroad Education</title>

    <!--========== Favicons =========-->
    <link rel="shortcut icon" href="<%= asset_path('abroad-inquery-logo.png')%>">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<!--    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>-->
<!--    <script-->
<!--      src="https://code.jquery.com/jquery-3.4.1.js"-->
<!--      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="-->
<!--      crossorigin="anonymous"></script>-->
    <%#= javascript_include_tag 'notifier', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <!-- All JS files are included here.
  ============================================== -->
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
    <%= custom_bootstrap_flash %>
<!--    <script src="//code.tidio.co/sbeuihqrrp3esp3hayk0vlfk34yeojdm.js" async></script>-->
  </body>
</html>
