<!DOCTYPE html>
<html>
  <head>
    <title>Abroadinquiry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Neat">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="<%= asset_path('abroad-inquery-logo.png')%>">

    <!-- Stylesheet -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag 'toastr', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'neat.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b11e6861a3.js" crossorigin="anonymous"></script>
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    <%= javascript_include_tag 'toastr', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dashboard.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'neat.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-page">
      <%= render 'shared/dashboard/sidebar' unless controller.controller_name == 'users' && controller.action_name == 'request_for_new_mentorship'  %>

      <main class="<%= header_class_define %>">
        <%= render 'shared/dashboard/header' unless controller.controller_name == 'users' && controller.action_name == 'request_for_new_mentorship' %>
        <%= yield :header_for_mentor %>
        <div class="container">
          <%= yield %>

          <%= render 'shared/dashboard/footer' %>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(".datetimepicker").flatpickr(
            {
                enableTime: true,
                dateFormat: "d-m-Y H:i",
            }
        );
    </script>

    <!-- Main JavaScript -->
    <%#= javascript_include_tag 'neat.min', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88739867-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-88739867-5');

    </script>
  <%= custom_bootstrap_flash %>
  </body>
</html>
